spring:
  datasource:
    url: jdbc:h2:mem:testdb
    username: danil
    password: mjasnoi
  h2:
    console:
      enabled: true
      path: /h2-console
      settings:
        trace: false
        web-allow-others: false
# Enter to console -> http://localhost:8092/h2-console